body {
  margin: 0;
  font-family: sans-serif;
  background-image: url("./assets/zlij1.webp");
  background-size: cover;
  background-attachment: fixed;
}

.home-page {
  margin: 50px auto;
  max-width: 800px;
  text-align: center;
}

.home-page h1 {
  font-size: 40px;
  color: #0a3d62; /* نفس لون border ديال box */
  margin-bottom: 20px;
}

.home-page p {
  font-size: 18px;
  line-height: 1.6;
  color: #333;
  margin-bottom: 20px;
}

.get-started {
  background-color: #006266; /* نفس لون product buttons */
  border: none;
  color: white;
  padding: 12px 25px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.get-started:hover {
  background-color: #b71540; /* hover لون مغربي */
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0a3d62;
  padding: 15px 30px;
}

.logo {
  color: #f8c291;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav-links li a:hover {
  color: #f1c40f;
}


/* LAYOUT */
.container {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

/* BOX */
.box {
  background: rgba(255, 255, 255, 0.95); /* شفاف شوية */
  padding: 40px;
  border-radius: 20px;
  border: 4px solid #006266; /* نفس لون Product/Cart */
  margin: 20px auto;
  max-width: 1000px; /* كبير بزاف */
  width: 90%; /* يغطي معظم الشاشة */
  box-shadow: 0 0 25px rgba(0,0,0,0.2);
}

/* PRODUCT */.product-list {
  display: flex;
  flex-direction: column; /* vertical list */
  gap: 20px;
}

.product {
  display: flex;
  align-items: center;
  gap: 20px;
  background: rgba(255,255,255,0.9);
  padding: 15px;
  border-radius: 15px;
  border: 3px solid #0a3d62;
}

.product-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #0a3d62;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-info button {
  width: 150px;
  background-color: #006266;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.product-info button:hover {
  background-color: #b71540;
}


/* BUTTONS */
button {
  background: #006266;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 15px;
  cursor: pointer;
}

.delete {
  background: #b71540;
}

/* TOTAL */
.total {
  font-weight: bold;
  color: #006266;
}

/* FOOTER */
.footer {
  background: #0a3d62;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}
